/* Загальні */
* {
  box-sizing: border-box;
}

.header {
  padding: 10px 0 6px 0;
}

.headerContainer {
  font-family: "Rubik", sans-serif;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 120px;
  position: relative;
}

/* Логотип */
.logo {
  font-weight: 800;
  font-size: 36px;
  text-transform: uppercase;
  color: #000;
  flex-shrink: 0;
}

/* Пошук */
.searchBlock {
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 1;
  min-width: 280px;
}

.searchWrapper {
  position: relative;
  flex: 1;
}

.searchInput {
  border-radius: 50px;
  padding: 16px 32px;
  width: 100%;
  background: #f1f0f0;
  border: none;
}

.searchIcon {
  position: absolute;
  right: 16px;
  bottom: 16px;
  width: 16px;
  height: 16px;
  pointer-events: none;
}

/* Фільтр */
.filter {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 50px;
  padding: 16px 32px;
  border: none;
  background: #f1f0f0;
  color: #909090;
  cursor: pointer;
}

.filterIcon {
  width: 16px;
  height: 16px;
}

.filterText {
  font-weight: 300;
  font-size: 16px;
}

/* Дії користувача */
.userActions {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
}

.icon {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 300;
  font-size: 16px;
  color: #909090;
  border-radius: 300px;
  padding: 16px;
  background: #f1f0f0;
  border: none;
  cursor: pointer;
}

.iconImage {
  width: 16px;
  height: 22px;
}

.iconText {
  display: inline;
}

.icon_2 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 300px;
  padding: 16px;
  width: 56px;
  height: 56px;
  background: #f1f0f0;
  border: none;
  cursor: pointer;
}

.iconImage_2 {
  width: 22px;
  height: 20px;
}

/* Кошик */
.cart {
  position: relative;
  background: #f1f0f0;
  border: none;
  cursor: pointer;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  border-radius: 300px;
}

.cartIcon {
  width: 24px;
  height: 24px;
}

.badge {
  position: absolute;
  top: -2px;
  right: -2px;
  background: #1e1e1e;
  color: white;
  font-size: 0.7rem;
  padding: 2px 6px;
  border-radius: 50%;
}

/* Навігація */
.navLinks {
  display: flex;
  gap: 11px;
  flex-wrap: wrap;
  margin-top: 15px;
  width: 100%;
  justify-content: center;
}

.navLink {
  font-weight: 300;
  font-size: 18px;
  text-decoration: none;
  transition: color 0.3s;
  padding: 8px;
  background-color: transparent;
}

/* Валюта та мова */

.localeSwitcher {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 35px 120px 0 120px;
}

.select {
  font-weight: 300;
  font-size: 14px;
  color: #292d32;
  border: none;
  padding: 6px 10px;
  background-color: transparent;
  cursor: pointer;
}

.select option {
  font-weight: 300;
  font-size: 16px;
  color: #000;
  padding: 6px 10px;
}
